[Desktop Entry]
Encoding=UTF-8
Type=Link
Name=Start Here
Name[am]=በዚህ ጀምር
Name[ar]=ابدأ هنا
Name[az]=Buradan Başla
Name[be]=Першы крок
Name[bg]=Започни от тук
Name[bn]=এখান থেকে আরম্ভ করো
Name[ca]=Comenceu aquí
Name[cs]=Začněte zde
Name[cy]=Dechreuwch Yma
Name[da]=Start her
Name[de]=Hier starten
Name[el]=Ξεκινήστε Εδώ
Name[en_CA]=Start Here
Name[en_GB]=Start Here
Name[es]=Empiece aquí
Name[et]=Alusta siit
Name[eu]=Hasi hemen
Name[fi]=Aloita tästä
Name[fr]=Démarrer ici
Name[ga]=Tosaigh Anseo
Name[he]=התחל כאן
Name[hi]=यहां से शुरू करें
Name[hr]=Počnite ovdje
Name[hu]=Kezdje itt!
Name[id]=Start di sini
Name[is]=Byrja hér
Name[it]=Punto di partenza
Name[ja]=ここからスタート
Name[ko]=시작 메뉴
Name[li]=Begin hie
Name[lt]=Pradėk čia
Name[lv]=Sākt Šeit
Name[mk]=Почни Овде
Name[ml]=ഇവിടെ തുടങ്ങൂ
Name[mn]=Эндээс эхэлнэ
Name[ms]=Mula di Sini
Name[ne]=यहाबाट शुरू
Name[nl]=Begin hier
Name[nn]=Start her
Name[no]=Start her
Name[pa]=ਇਥੋ ਸੁਰੂ ਕਰੋ
Name[pl]=Zacznij tutaj
Name[pt]=Iniciar Aqui
Name[pt_BR]=Comece aqui
Name[ro]=Începeţi aici
Name[ru]=Начать здесь
Name[sk]=Začať tu
Name[sl]=Začni tu
Name[sq]=Fillo këtu
Name[sr]=Крените одавде
Name[sr@Latn]=Krenite odavde
Name[sr@ije]=Крените одавде
Name[sv]=Börja här
Name[th]=เริ่มที่นี่
Name[tr]=Buradan Başlayın
Name[uk]=Починати тут
Name[vi]=Khởi động tại đây
Name[wa]=Enonder chal
Name[zh_CN]=从这里开始
Name[zh_TW]=起點
Comment=Start Here
Comment[am]=በዚህ ጀምር
Comment[ar]=ابدأ هنا
Comment[az]=Buradan Başla
Comment[be]=Першы крок
Comment[bg]=Започни от тук
Comment[bn]=এখান থেকে আরম্ভ করো
Comment[ca]=Comenceu aquí
Comment[cs]=Začněte zde
Comment[cy]=Dechreuwch Yma
Comment[da]=Start her
Comment[de]=Hier starten
Comment[el]=Ξεκινήστε Εδώ
Comment[en_CA]=Start Here
Comment[en_GB]=Start Here
Comment[es]=Empiece aquí
Comment[et]=Alusta siit
Comment[eu]=Hasi hemen
Comment[fi]=Aloita tästä
Comment[fr]=Démarrer ici
Comment[ga]=Tosaigh Anseo
Comment[he]=התחל כאן
Comment[hi]=यहां से शुरू करें
Comment[hr]=Počnite ovdje
Comment[hu]=Kezdje itt!
Comment[id]=Start di sini
Comment[is]=Byrja hér
Comment[it]=Punto di partenza
Comment[ja]=ここからスタート
Comment[ko]=시작 메뉴
Comment[li]=Begin hie
Comment[lt]=Pradėk čia
Comment[lv]=Sākt Šeit
Comment[mk]=Почни Овде
Comment[ml]=ഇവിടെ തുടങ്ങൂ
Comment[mn]=Эндээс эхэлнэ
Comment[ms]=Mula di Sini
Comment[ne]=यहाबाट शुरू
Comment[nl]=Begin hier
Comment[nn]=Start her
Comment[no]=Start her
Comment[pa]=ਇਥੋ ਸੁਰੂ ਕਰੋ
Comment[pl]=Zacznij tutaj
Comment[pt]=Iniciar Aqui
Comment[pt_BR]=Comece aqui
Comment[ro]=Începeţi aici
Comment[ru]=Начать здесь
Comment[sk]=Začať tu
Comment[sl]=Začni tu
Comment[sq]=Fillo këtu
Comment[sr]=Крените одавде
Comment[sr@Latn]=Krenite odavde
Comment[sr@ije]=Крените одавде
Comment[sv]=Börja här
Comment[th]=เริ่มที่นี่
Comment[tr]=Buradan Başlayın
Comment[uk]=Починати тут
Comment[vi]=Khởi động tại đây
Comment[wa]=Enonder chal
Comment[zh_CN]=从这里开始
Comment[zh_TW]=起點
URL=start-here:/
Icon=gnome-starthere
Terminal=false
